<h1><%= link_to @article.title, @article %></h1>
(<%= link_to 'Destroy', @article, :confirm => 'Are you sure?', :method => :delete %>)<br />
Views: <%= @article.views %>
<br /><br />
<%= render(:partial => "form") %>

<%= link_to 'All articles', articles_path %>