<div class="block_content_left">
  <div class="block_inside">
    <h1><%= @article.title %></h1>
    <p><%= @article.body %></p>
    <p>&nbsp;</p>
    <p>
      <%= link_to "Previous Article", @prev %>
    <% 50.times do %>
      <%= "&nbsp;" %>
    <% end %>
      <%= link_to "Next Article", @next %>
    </p>
  </div>                         
</div>       
<div class="block_content_right">
  <div class="block_inside"> 
    <h3>Archives</h3>
    <h5><p>2009</p></h5>
    <ul id="archives">
      <li>January</li>
      <li>February</li>
      <li>March</li>
      <li>April</li>
      <li>May</li>
      <li>June</li>
      <li>July</li>
      <li>August</li>
      <li>September</li>
      <li>October</li>
      <li>November</li>
      <li>December</li>
    </ul>
  </div>
</div>
<div class="comments">
  <div class="block_inside">
    <h3>Comments</h3>
      <% @article.comments.each do |comment| %>
        <h6><%= h comment.name %> (<%= time_ago_in_words comment.created_at %> ago)</h6>
        <p><%= h comment.body %></p>
        ------------------------------------
      <% end %>
      <% form_for [@article, Comment.new] do |f| %> 
        <p>
          <%= f.label :name, "Name:" %>
          <%= f.text_field :name %>
        </p>
        <p>
          <%= f.label :body, "Comment:" %>
          <%= f.text_area :body, :cols => 50, :rows => 5 %> 
        </p>
        <%= f.submit "Submit" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
